html {
  background-color: #aeebfd;

  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  img {
    user-select: none;
  }
}

body {
  padding: 2%;
  @include grid_template(auto 1fr / 1fr);
  align-content: start;
  row-gap: 3%;

  header {
    @include grid_template(1fr / auto auto 1fr);
    column-gap: 1%;
    justify-content: space-between;
  }

  section {
    margin-bottom: 2.5%;
  }

  .label {
    justify-self: center;
    text-align: center;
    font-weight: 600;
    font-size: 150%;
    padding: 25px;
    text-wrap: nowrap;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

    transition: all 0.3s ease-in-out;
  }

  .label:hover {
    filter: invert(1);
  }

  div.label {
    justify-self: end;
  }
}

// active block - start
body {
  .label.active {
    filter: invert(1);
  }

  #mindmap,
  #glossary {
    display: none;
  }

  #mindmap.active,
  #glossary.active {
    display: block;
  }
}
// active block - end

$term-transition: all 0.2s ease-in-out;
#term-list {
  @include grid_auto-fit(300px, 1%);
  align-content: start;
  padding-bottom: 3%;
  row-gap: 3%;

  li {
    @include grid_template(auto 1fr auto / 1fr);
    row-gap: 5%;
    padding: 5%;
    background-color: white;
    border-radius: 25px;
    height: 350px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transition: $term-transition;

    .title {
      text-align: center;
      font-weight: 600;
      font-size: 125%;
    }

    .description {
      font-size: 110%;
      font-weight: 500;
      color: rgb(150, 150, 150);
      line-height: 120%;
      transition: $term-transition;
    }

    .source {
      text-align: center;
      color: rgb(200, 200, 200);
      transition: $term-transition;
    }
  }

  li:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    .description {
      color: black;
    }
    .source {
      color: rgb(175, 175, 175);
    }
  }
}

#mindmap {
  width: 100%;
  height: 85vh;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#network {
  width: 100%;
  height: 100%;
}
