@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input::-ms-clear {
  display: none;
}

input, button, textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: inherit;
}

a:link, a:visited, a:hover {
  text-decoration: none;
}

* > button {
  -webkit-tap-highlight-color: transparent;
}

/*==========Mixin==========Start*/
/*==========Mixin==========End*/
html {
  background-color: #aeebfd;
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
html img,
body img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  padding: 2%;
  display: grid;
  grid-template: auto 1fr/1fr;
  -ms-flex-line-pack: start;
      align-content: start;
  row-gap: 3%;
}
body header {
  display: grid;
  grid-template: 1fr/auto auto 1fr;
  -webkit-column-gap: 1%;
     -moz-column-gap: 1%;
          column-gap: 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body section {
  margin-bottom: 2.5%;
}
body .label {
  justify-self: center;
  text-align: center;
  font-weight: 600;
  font-size: 150%;
  padding: 25px;
  text-wrap: nowrap;
  border-radius: 25px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body .label:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}
body div.label {
  justify-self: end;
}

body .label.active {
  -webkit-filter: invert(1);
          filter: invert(1);
}
body #mindmap,
body #glossary {
  display: none;
}
body #mindmap.active,
body #glossary.active {
  display: block;
}

#term-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: start;
  padding-bottom: 3%;
  row-gap: 3%;
}
#term-list li {
  display: grid;
  grid-template: auto 1fr auto/1fr;
  row-gap: 5%;
  padding: 5%;
  background-color: white;
  border-radius: 25px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#term-list li .title {
  text-align: center;
  font-weight: 600;
  font-size: 125%;
}
#term-list li .description {
  font-size: 110%;
  font-weight: 500;
  color: rgb(150, 150, 150);
  line-height: 120%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#term-list li .source {
  text-align: center;
  color: rgb(200, 200, 200);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#term-list li:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}
#term-list li:hover .description {
  color: black;
}
#term-list li:hover .source {
  color: rgb(175, 175, 175);
}

#mindmap {
  width: 100%;
  height: 85vh;
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#network {
  width: 100%;
  height: 100%;
}